<html>
  <app-header></app-header>
  <br>
  <div class="m-auto" style="max-width: 33rem;">
    <div *ngIf="event">
      <div class="row bg-light  " >
        
        <div class="col "  style="text-align:center; m-auto;">
          <br><img class="img" [src]="'data:image/jpeg;base64,' + event.image" alt="{{ event.name }}" style="width:11rem;">
        </div>
        <div class="col" >
          <div class="card-body">
            <h3 class="card-title">{{ event.name }}</h3>
            <div class="card-text">
              <br>
              <p>Thème: {{ event.theme }}</p>
              <p>Prix: {{ event.prix }} €</p>
              <p>Date: {{ event.date | date: 'medium' : 'UTC' }}</p>

              <button *ngIf="my_event" class="btn btn-light" (click)="navigateToEdit(event._id)">Modifier l'évènement</button>
              <p></p>
              <!-- Add more details as needed -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  <div class="card" style="background-color: #A3B18A;">
  <h3>List of users who favorited this event:</h3>
  <ul>
    <span  *ngFor="let user of userDetails | keyvalue">
      
      <li>
        <a (click)="navigateToChat(user.value.username)"> {{ user.value.username }}  </a>
        
        </li>
    </span>
    
  </ul>
</div>
<br>
  
  <div *ngIf="!isUserFavorited">
    <button class="btn btn-light" (click)="addToFavourite()">Add to Favorites</button>
  </div>

  <div *ngIf="isUserFavorited">
    <button class="btn btn-light" (click)="deleteFromFavorite()">Delete from Favorites</button>
  </div>


 
  </div>
</html>