<body>

    <app-header></app-header>

      <div class="card m-3">
        <div id="salon" class="card-header">
          <div class="user-list">
            <img *ngFor="let user of users" 
            [src]="'data:image/jpeg;base64,' + getImage(user)"
            alt="{{ user }}" 
            width="50" 
            height="50" 
            (click)="selectUser(user)" 
       />
                </div>
        </div>
        <div class="card-body">
          <!-- Div éditable pour afficher les messages avec balises -->
          <div class="form-control mb-3"  id="messages" contenteditable="true"></div>          <div class="form-group row">
            <label for="message" class="col-sm-2 col-form-label">Message</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="message" placeholder="Message" value="Hello!">
            </div>
          </div>
          <a id="send" class="btn btn-primary float-right" (click)="sendMessage()">Envoyer</a>
        </div>
      </div>

  </body>