<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  </head>
<app-header></app-header>
<br>
<div class="container" style="height: 500px;overflow-y:scroll;">
  <div class="table-wrapper" style="position: relative; height: 500px;">
    <div class="row mb-3">
      <div class="col">
        <!-- Input field for filtering by event name -->
        <input type="text" class="form-control" placeholder="Filter by name" #eventNameInput>
        <button class="btn btn-primary" (click)="filterByName(eventNameInput.value)">Filter by Name</button>
      </div>
      <div class="col">
        <!-- Input fields for filtering by price range -->
        <input type="number" class="form-control" placeholder="Min price" #minPriceInput>
        <input type="number" class="form-control" placeholder="Max price" #maxPriceInput>
      </div>
      <div class="col">
        <!-- Buttons to trigger filtering and sorting -->
       
        <button class="btn btn-primary" (click)="filterByPrice(+minPriceInput.value, +maxPriceInput.value)">Filter by Price Range</button>
      </div>
    </div>
    <table class="table  table-fixed table-hover table-light">
      <thead class="table-success" style="position: sticky; top: 0; z-index: 1; display: line;">
        <tr>
          <th>Nom</th>
          <th>Image</th>
          <th>Thème</th>
          <th>
            <div class="d-flex align-items-center "><i class="bi bi-sort-up" (click)="sortByPriceAscending()" style="cursor: pointer;"></i>
              <span>Prix</span>
              <i class="bi bi-sort-down" (click)="sortByPriceDescending()" style="cursor: pointer;"></i></div>
            
          </th>
          <th>
            <div class="d-flex align-items-center ">
              <i class="bi bi-sort-up" (click)="sortByDateAscending()" style="cursor: pointer;"></i>
              <span>Date</span>
              <i class="bi bi-sort-down" (click)="sortByDateDescending()" style="cursor: pointer;"></i>
            
            </div>
           </th>
        </tr>
      </thead>
      <tbody style="overflow-y: scroll; display: line; height: 400px;">
        <tr *ngFor='let event of events'>
          <td>{{event.name}}</td>
          <td><img [src]="'data:image/jpeg;base64,' + event.image" style="width: 45px; height: 45px;"></td>  
          <td>{{event.theme}}</td>
          <td>{{event.prix}} €</td>
          <td>{{ event.date | date: 'medium' : 'UTC' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
</html>
