<html>
<app-header></app-header>
<br>
<div class="container">
  <div class="table-wrapper" style="position: relative; overflow: auto; max-height: 70%;">
    <table class="table table-fixed table-hover table-light">
      <thead class="table-success" style="position: sticky; top: 0;">
        <tr>
          <th>Nom</th>
          <th>Image</th>
          <th>Thème</th>
          <th>Prix</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let event of events'>
          <td>{{event.name}}</td>
          <td><img [src]="'data:image/jpeg;base64,' + event.image" style="width: 45px; height: 45px;"></td>  
          <td>{{event.theme}}</td>
          <td>{{event.prix}} €</td>
          <td>{{ event.date | date: 'medium' : 'UTC' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
</html>
