<html>

<body>
<app-header></app-header>
<br>

    <div class="container card bg-light" style="max-width:33rem;">
        <div class="container" >
            <div class="row no-gutters align-items-center">
                <div class="col m-auto "  style="text-align:center; ">
                    <br><img class="img" [src]="'data:image/jpeg;base64,' + user.picture" alt="{{ user.name }}" style="width:11rem;">
                    <h5 *ngIf="user.is_admin" class="text-primary">admin</h5>
                  </div>
                
                <div class="col col-md-8">
                    <div class="card-body">
                        
                        <h2 class="card-title">Profil Client</h2>
                        <hr>
                        <p class="card-text"><strong>Username :</strong> {{user.username}}</p>
                        <p class="card-text"><strong>Prénom :</strong> {{user.name}}</p>
                        <p class="card-text"><strong>Nom :</strong> {{user.surname}}</p>
                        <p class="card-text"><strong>Adresse mail :</strong> {{user.mail}}</p>
                        <p class="card-text"><strong>Date de naissance :</strong> {{user.born | date:'yyyy-MM-dd' }}</p>
                        
                        
                    
                   
                    </div>
                </div>
            </div>
            </div>
          <hr><hr>
      </div>
      <br>
      <div class="text-center">
        <button class="btn" style= "background-color: #A3B18A;" (click)="edit()">Modifier le profil</button>
      </div>
      

    </body>
</html>