<html>

<body>
<app-header></app-header>


    <div class="container">
        <h1>Profil Client</h1>
        <div class="container">
            <div class="row no-gutters align-items-center">
                <div class="col-md-4">
                    <img [src]="'data:image/jpg;base64,' + user.picture" class="card-img" alt="User Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">{{user.username}}</h2>
                        <hr>
                        <p class="card-text"><strong>Prénom :</strong> {{user.name}}</p>
                        <p class="card-text"><strong>Nom :</strong> {{user.surname}}</p>
                        <p class="card-text"><strong>Adresse mail :</strong> {{user.mail}}</p>
                        <p class="card-text"><strong>Date de naissance :</strong> {{user.born}}</p>
                    </div>
                </div>
            </div>
            </div>
          <hr><hr>
      </div>

      <button class="btn btn-primary" (click)="edit()">Modifier le profil</button>

    </body>
</html>